<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>London Bus Ticker</title>
    <link rel="stylesheet" href="/static/styles.css"> 
</head>
<body>
    <h1>London Bus Ticker</h1>
    <form action="{{url_for('bus')}}" method="POST">
        <label for="stopname" >Enter Bus Stop Name:</label>
        <input id="stopname" type="text">
        <input type="submit" value="Submit">
    </form>
    <br>
    {%for bus in buses %}
        {% if bus['stationName'] is stopname %} 
        <!-- TODO: figure out how to extract form input to backend and return it as stopname -->
        <p>{bus}</p>
        {% endif %}
    {% endfor %}
</body>
</html>